{% extends "main_layout.html" %}
{% block title %}Moseeb{% endblock title %}
{% block body %}
<form action="/signin/submit" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{email}}"><br>
    <small>{{email_error}}</small><br>

    <label for="name">Password:</label>
    <input type="password" id="password" name="password" value="{{password}}"><br>
    <small>{{password_error}}</small><br>

    <input type="submit" value="Submit">
</form>
{% endblock body %}