<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>Moseeb</TITLE>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    </HEAD>
    <BODY>
        <header>
            <nav>
                <div id="nav">
                <img src="{{ url_for('static', filename='icons/cart.png') }}" alt="Description of image" style="width: 20px; height: 20px;">
                <span>Moseeb</span>
                </div>
                <div id="nav">
                <ul id="nav_list">
                    <li><a href="#">Phones</a></li>
                    <li><a href="#">Watches</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
                </div>
                <div id="nav">
                    <a href="#"><img src="{{ url_for('static', filename='icons/user.png') }}" alt="Description of image" style="width: 20px; height: 20px;"></a>
                    <a href="#"><img src="{{ url_for('static', filename='icons/star.png') }}" alt="Description of image" style="width: 20px; height: 20px;"></a>
                </div>
            </nav>

        </header>
        <div class="search-bar">
            <div class="location-dropdown">
                <select>
                    <option value="choose-location">Choose Location</option>
                    <option value="location1">Location 1</option>
                    <option value="location2">Location 2</option>
                    </select>
            </div>
            <input type="text" placeholder="Enter product name">
            <button>Search</button>
        </div>
        <H1>{{session.user_id}}</H1>
        {% if session.user_id %}
        <h1>fffff</h1>
        {% endif %}
        <H1>Home</H1>
        <H1>{{user}}</H1>
        <UL>
        {% for item in items %}
            <LI>{{ item.title }}: <B>{{ item.price }}</B>
	    </LI>
        {% endfor %}
        </UL>
        <a href="{{ url_for('Items', category='phones') }} " >phones</a>
        <a href="{{ url_for('Items', category='watches') }} " >watches</a>
        <a href="{{ url_for('Items', category='accessories') }} " >accessories</a>
    </BODY>
</HTML>