{% extends "main_layout.html" %}
{% block title %}Moseeb{% endblock title %}
{% block body %}

<!-- Display items -->
<ul>
    {% for item in items %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>

<!-- Pagination controls -->
<div>
    {% if page > 1 %}
        <a href="{{ url_for('Items', page=page-1, category=category) }}">Previous</a>
    {% endif %}
    {% if has_next %}
        <a href="{{ url_for('Items', page=page+1, category=category) }}">Next</a>
    {% endif %}

</div>

{% endblock body %}