
<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</HEAD>
<BODY>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
              <div class="navbar-left">
                <div class="logo">
                  <a href="{{ url_for('home') }}"><h1>Moseeb</h1></a>
                </div>
                <ul class="nav-links">
                  <li><a href="{{ url_for('Items', category='phones') }} ">Phones</a></li>
                  <li><a href="{{ url_for('Items', category='watches') }} " >Watches</a></li>
                  <li><a href="{{ url_for('Items', category='accessories') }} ">Accessories</a></li>
                </ul>
              </div>
        
              <div class="navbar-right">
                <div class="select">
                    <select>
                      <option value="" selected disabled>Choose a location</option>
                      <option value="1">Cairo</option>
                      <option value="2">Mansoura</option>
                      <option value="3">Alexandria</option>
                    </select>
                  </div>
                <div class="search-bar">
                  <input type="text" placeholder="Enter product name">
                  <button class="search-btn"><img src="{{ url_for('static', filename='icons/search.png') }}" alt="Description of image" style="width: 20px; height: 20px;"></a></button>
                </div>
                <div class="user-actions">
                  <i class="user-icon"><a href="{{ url_for('MyProfile') }}"><img src="{{ url_for('static', filename='icons/user.png') }}" alt="Description of image" style="width: 20px; height: 20px;"></a></i>
                  <i class="wishlist-icon"><a href="%"><img src="{{ url_for('static', filename='icons/star.png') }}" alt="Description of image" style="width: 20px; height: 20px;"></a></i>
                  <button class="sell-btn" id="sell-button">Sell</button>
                  <script>
                    document.getElementById("sell-button").addEventListener("click", function () {
                      window.location.href = "{{ url_for('Sell') }}";
                    });
                  </script>
                </div>
              </div>
            </div>
          </nav>
          
    </header>

    <div class="container">
    {% block body %}{% endblock body %}
    </div>
    
    <footer>
        <div class="footer-container">
          <div class="footer-left">
            <p>Moseeb</p>
          </div>
          <div class="footer-right">
            <span style="margin: 10px;">Hire Us</span>
            <div class="social-icons">
              <a href="#"><img src="{{ url_for('static', filename='icons/twitter.png') }}" alt="Description of image" style="width: 20px; height: 20px;"></a>
              <a href="%"><img src="{{ url_for('static', filename='icons/linkedin.png') }}" alt="Description of image" style="width: 20px; height: 20px;"></a>
              <a href="%"><img src="{{ url_for('static', filename='icons/github.png') }}" alt="Description of image" style="width: 20px; height: 20px;"></a>
            </div>
          </div>
        </div>
    </footer>
      
</BODY>
</HTML>


