{% extends "main_layout.html" %}
{% block title %}Moseeb{% endblock title %}
{% block body %}

<form action="/profile/resetpassword/submit" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
    <h1>{{error_pwd}}</h1>

    <label for="old_pwd">old pass</label>
    <input type="password" id="old_pwd" name="old_pwd" required>

    <label for="new_pwd">new pass</label>
    <input type="password" id="new_pwd" name="new_pwd" required><br>

    <label for="con_pwd">confirm pass</label>
    <input type="password" id="con_pwd" name="con_pwd"required><br>

    <input type="submit" value="Submit">
</form>
{% endblock body %}